<button (click)="create_page = 1" [ngClass]="create_page ? 'dnone' : ''" class="btn btn-primary btn-sm pull-right">Create</button>
<button (click)="create_page = 0"  [ngClass]="!create_page ? 'dnone' : ''" class="btn btn-info btn-sm pull-right">View</button>
<!-- <app-create [ngClass]="!create_page ? 'dnone' : ''" [childMessage]="childMessage" (showTable)="someFunction($event)"></app-create> -->
  <!-- <app-create [hidden]="!create_page" [editData]="editData" (showTable)="someFunction($event)"></app-create> -->
<app-create *ngIf="create_page" [editData]="editData" (showTable)="someFunction($event)"></app-create>
<a href="#" [routerLink]="['/crud_create',1]" [ngClass]="'btn btn-success btn-sm getLink'">Link get Method</a>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis atque necessitatibus dignissimos ab impedit. Debitis sed rerum, dignissimos veniam laboriosam eveniet, nesciunt molestiae aliquid fugit quas hic dolorem corrupti voluptatibus.</p>
<table [ngClass]="create_page ? 'dnone' : ''" class="table table-bordered">
    <thead>
      <tr class="active">
        <th>Full name</th>
        <th>Employee Age</th>
        <th>Attendence Days</th>
        <th>Action</th>
      
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employee_list">
        <td>{{employee.employee_fullname}}</td>
        <td>{{employee['employee_age']}}</td>
        <td>{{employee['total_attendencedays']}}</td>
        <td>
          <button (click)="view(employee['id'])" class="btn btn-info btn-sm">view</button>
          <button (click)="details(employee['id'])" class="btn btn-danger btn-sm getLink">Attendence Details</button>
        </td>
      </tr>
    </tbody>
  </table>