.heading{
    font-size: 20px;
    color:red;
}

.heading:hover{
    font-size: 25px;
    color:blue;
}
.heading-title{
    font-size: 20px;
    color:red;
}

.heading-title:hover{
    font-size: 25px;
    color:blue;
}