<div>
  <style dangerouslySetInnerHTML={{__html: "\nbody, html {\n  height: 100%;\n  margin: 0;\n}\n\n.bgimg {\n  background-image: url('/w3images/forestbridge.jpg');\n  height: 100%;\n  background-position: center;\n  background-size: cover;\n  position: relative;\n  color: white;\n  font-family: \"Courier New\", Courier, monospace;\n  font-size: 25px;\n}\n\n.topleft {\n  position: absolute;\n  top: 0;\n  left: 16px;\n}\n\n.bottomleft {\n  position: absolute;\n  bottom: 0;\n  left: 16px;\n}\n\n.middle {\n  position: absolute;\n  top: 50%;\n  left: 50%;\n  transform: translate(-50%, -50%);\n  text-align: center;\n}\n\nhr {\n  margin: auto;\n  width: 40%;\n}\n" }} />
  <div className="bgimg">
    <div className="topleft">
      <p>Logo</p>
    </div>
    <div className="middle">
      <h1>COMING SOON</h1>
      <hr />
      <p>35 days left</p>
    </div>
    <div className="bottomleft">
      <p>Some text</p>
    </div>
  </div>
</div>